@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-balance text-lg md:text-2xl;
  }

  h2 {
    @apply text-balance text-lg md:text-xl;
  }

  h3 {
    @apply text-balance text-base;
  }

  p {
    @apply text-pretty text-sm md:text-base;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.brand.white / 15%");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.brand.white / 25%");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.brand.white / 50%");
}
