---
import GlowEffect from "../common/glow-effect.astro";

interface Props {
  image: {
    src: string;
    alt: string;
  };
}

const { image } = Astro.props;
---

<GlowEffect radius="xll">
  <div class="mx-auto grid aspect-[118_/_75] w-60 place-content-center p-2.5">
    <img
      src={image.src}
      alt={image.alt}
      title={image.alt}
      loading="lazy"
      class="object-cover invert dark:invert-0"
    />
  </div>
</GlowEffect>
