---
import type { Solution } from "@/constants/solutions";

interface Props extends Solution {}

// Shadow opacity -- Mobile: 75%, Desktop: 30%
// Shadow opacity on hover -- Mobile: 75%, Desktop: 75%
const COLORS: Record<Solution["color"], string> = {
  red: "bg-brand-red shadow-brand-red/75 lg:shadow-brand-red/30 group-hover:shadow-brand-red/75",
  blue: "bg-brand-blue shadow-brand-blue/75 lg:shadow-brand-blue/30 group-hover:shadow-brand-blue/75",
  green:
    "bg-brand-green shadow-brand-green/75 lg:shadow-brand-green/30 group-hover:shadow-brand-green/75",
  yellow:
    "bg-brand-yellow shadow-brand-yellow/75 lg:shadow-brand-yellow/30 group-hover:shadow-brand-yellow/75",
};

const { title, description, icon, color } = Astro.props;
---

<article
  class="group flex rounded-3xl border border-solid border-brand-white/15 bg-white/5"
>
  <div
    class={"h-full flex shrink-0 justify-center items-center rounded-full px-2.5 shadow-solution-card duration-200 ease-in-out" +
      " " +
      COLORS[color]}
  >
    <img src={icon.src} alt={icon.alt} class="size-5 shrink-0" />
  </div>

  <div class="grow space-y-3 p-5">
    <h3>{title}</h3>
    <div
      class="h-px w-1/2 max-w-64 bg-[linear-gradient(to_right,_#0000,_#7A7A7A,_#0000)] lg:hidden"
    >
    </div>
    <p class="text-brand-gray">{description}</p>
  </div>
</article>
