---
import { SECTIONS } from "@/constants/sections";
import GradientSpan from "../common/gradient-span.astro";
import SectionHeader from "../common/section-header.astro";
import Section from "../common/section.astro";
import { FaqAccordion } from "../accordion/faq-accordion";
import Chip from "../common/chip.astro";
---

<Section id={SECTIONS.FAQ.id}>
  <Chip label="FAQs" />
  <SectionHeader>
    <span slot="title">
      <GradientSpan> Have questions? Answers.</GradientSpan>
    </span>
  </SectionHeader>
  <div>
    <FaqAccordion client:load />
  </div>
</Section>
