---
import "@fontsource/jetbrains-mono/100.css";
import DarkModeSwitch from "../switches/dark-mode-switch.astro";

const currentYear = 2024;
---

<footer
  class="border-t border-solid border-brand-white/15 bg-background-dark px-7 py-10 sm:px-0"
>
  <div class="container mx-auto flex items-center justify-between gap-x-40">
    <p class="font-jetbrains-mono text-sm font-thin">
      <span>
        © ALAMO ALGORITHMICS {currentYear}.
      </span>
      <span class="hidden md:inline"> ALL RIGHTS RESERVED. </span>
    </p>

    <div class="flex justify-end">
      <DarkModeSwitch />
    </div>
  </div>
</footer>
