---
import ChromoLogo from "@/components/common/chromo-logo.astro";
import { SECTIONS_LIST } from "@/constants/sections";
---

<footer
  class="mt-80 border-t border-solid border-brand-white/15 px-7 pb-28 pt-14"
>
  <div
    class="container mx-auto flex flex-col justify-start gap-x-40 gap-y-10 lg:flex-row"
  >
    <figure>
      <ChromoLogo />
    </figure>

    <nav class="flex flex-wrap gap-x-40 gap-y-10">
      <div>
        <h3 class="mb-5">Sections</h3>
        <ul class="space-y-5">
          {
            SECTIONS_LIST.map(({ title, href }) => (
              <li class="text-brand-gray hover:text-brand-white">
                <a href={href}>{title}</a>
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <h3 class="mb-5">Legal</h3>
        <ul class="space-y-5 text-brand-gray hover:*:text-brand-white">
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
