---
import "@fontsource/jetbrains-mono/100.css";

const currentYear = 2024;
---

<footer
  class="mt-60 border-solid border-brand-white/15 bg-background-dark py-10 dark:border-t"
>
  <div
    class="container mx-auto flex flex-col justify-start gap-x-40 gap-y-10 lg:flex-row"
  >
    <p class="font-jetbrains-mono text-sm font-thin">
      © ALAMO ALGORITHMICS {currentYear}. ALL RIGHTS RESERVED.
    </p>
  </div>
</footer>
