---
import { SECTIONS_LIST } from "@/constants/sections";
import ChromoLogo from "@/components/common/chromo-logo.astro";
---

<header
  class="sticky left-0 top-0 z-50 mb-10 p-7 text-white transition-colors duration-200"
  id="header"
>
  <div class="container mx-auto flex items-center justify-between">
    <ChromoLogo />

    <nav class="hidden lg:block">
      <ul class="flex items-center gap-12">
        {
          SECTIONS_LIST.map(({ href, title }) => (
            <li>
              <a href={href} class="text-brand-gray hover:text-brand-white">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
<script>
  const header = document.getElementById("header")!;
  const scrollThreshold = 100;
  const scrolledClasses = ["backdrop-blur-xl", "bg-brand-gray/10"];

  window.addEventListener("load", function () {
    if (window.scrollY > scrollThreshold) {
      header.classList.add(...scrolledClasses);
    }
  });

  window.addEventListener("scroll", function () {
    if (window.scrollY > scrollThreshold * 2) return; // optimization

    if (window.scrollY > scrollThreshold) {
      header.classList.add(...scrolledClasses);
    } else {
      header.classList.remove(...scrolledClasses);
    }
  });
</script>
