---
import chromoLogo from "@/assets/images/chromo-logo.svg";
import { SECTIONS_LIST } from "@/constants/sections";
---

<header class="bg-[#010100] text-white p-7 mb-10 sticky top-0 left-0">
  <div class="flex justify-between items-center container mx-auto">
    <img src={chromoLogo.src} alt="Chromo Logo" class="h-7" />

    <nav>
      <ul class="flex items-center gap-12">
        {
          SECTIONS_LIST.map(({ href, title }) => (
            <li>
              <a href={href} class="text-brand-gray hover:text-brand-white">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
