---
import boltSvg from "@material-symbols/svg-700/rounded/bolt.svg?raw";
import { SECTIONS } from "@/constants/sections";
import { Link } from "../common/link";
import HappyClients from "../common/happy-clients.astro";
import WorkCarousel from "../common/work-carousel.astro";
import Icon from "../common/icon.astro";
---

<section
  class="container relative flex flex-col items-center justify-center gap-20 overflow-hidden py-20 text-center"
>
  <div
    class="bg-siz pointer-events-none absolute inset-0 -z-10 bg-dot-pattern bg-[length:110%] dark:opacity-15"
  >
    <div class="absolute inset-0 size-full bg-radial-light dark:bg-radial-dark">
    </div>

    <div class="absolute inset-0 size-full bg-linear-light dark:bg-linear-dark">
    </div>
  </div>

  <div class="flex flex-col items-center justify-center gap-5">
    <p class="font-jetbrains-mono text-brand-gray">Development & Design</p>

    <h1>From innovative designs to robust development</h1>

    <p class="max-w-[45ch] text-brand-gray">
      We turn your ideas into awesome websites and apps Simple, clean, and <span
        class="text-black dark:text-white">built to make an impact.</span
      >
    </p>
  </div>

  <Link
    size="lg"
    href={SECTIONS.CONTACT.href}
    className="inline-flex items-center gap-2"
  >
    Book a Free Call Now <Icon icon={boltSvg} class="size-5 fill-current" />
  </Link>

  <HappyClients />

  <WorkCarousel />
</section>
