---
import chromoIsotype from "@/assets/images/chromo-isotype.avif";
import Button from "../common/button.astro";
import HappyClients from "../common/happy-clients.astro";
import { SECTIONS } from "@/constants/sections";
---

<section class="container">
  <div
    class="relative max-w-full w-full sm:w-[clamp(19.375rem,_65vw,_38.75rem)] aspect-square mx-auto flex justify-center items-center flex-col"
  >
    <div class="overflow-hidden size-full absolute -z-20">
      <img
        src={chromoIsotype.src}
        alt="Chromo Logo"
        class="size-full animate-spin-slow ease-linear"
      />
    </div>

    <div
      class="backdrop-blur sm:backdrop-blur-xl w-[110%] h-full sm:w-[calc(50%_+_1.25rem)] translate-x-5 absolute right-0 -z-10 ml-auto"
    >
    </div>

    <p class="text-brand-white/85">Design & Development</p>
    <h1 class="mt-2.5 mb-10 text-center sm:whitespace-nowrap">
      Building your future
    </h1>
    <Button text="Book an Appointment" href={SECTIONS.CONTACT.href} />
  </div>

  <div class="flex justify-center mt-40 lg:mt-0 lg:justify-start">
    <HappyClients />
  </div>
</section>
