---
import DotPatternBackground from "../backgrounds/dot-pattern-background.astro";
import LinearRadialFadeBackground from "../backgrounds/linear-radial-fade-background.astro";
import BookingButton from "../buttons/booking-button.astro";
import HappyClients from "../common/happy-clients.astro";
import WorkCarousel from "../common/work-carousel.astro";
---

<div class="relative">
  <DotPatternBackground>
    <LinearRadialFadeBackground />
  </DotPatternBackground>

  <section
    class="container flex flex-col items-center justify-center gap-20 overflow-hidden pt-10 text-center lg:py-20"
  >
    <div class="flex flex-col items-center justify-center gap-5">
      <p class="font-jetbrains-mono text-brand-gray">Development & Design</p>

      <h1>Transforming Ideas into Impactful Digital Solutions</h1>

      <p class="max-w-[30ch] text-brand-gray sm:max-w-[45ch]">
        Need innovative design and reliable development? We're here to
        <span class="text-black dark:text-white"
          >bring your ideas to life.
        </span>
      </p>
    </div>

    <BookingButton />

    <HappyClients />

    <WorkCarousel />
  </section>
</div>
