---
import chromoIsotype from "@/assets/images/chromo-isotype.avif";
import Button from "../common/button.astro";
import HappyClients from "../common/happy-clients.astro";
import { SECTIONS } from "@/constants/sections";
---

<section class="container">
  <div
    class="relative mx-auto flex aspect-square w-full max-w-full flex-col items-center justify-center sm:w-[clamp(19.375rem,_65vw,_38.75rem)]"
  >
    <div class="absolute -z-20 size-full overflow-hidden">
      <img
        src={chromoIsotype.src}
        alt="Chromo Logo"
        class="size-full animate-spin-slow ease-linear"
      />
    </div>

    <div
      class="absolute right-0 -z-10 ml-auto h-full w-[110%] translate-x-5 backdrop-blur sm:w-[calc(50%_+_1.25rem)] sm:backdrop-blur-xl"
    >
    </div>

    <p class="text-brand-white/85">Design & Development</p>
    <h1 class="mb-10 mt-2.5 text-center sm:whitespace-nowrap">
      Building your future
    </h1>
    <Button text="Book an Appointment" href={SECTIONS.CONTACT.href} />
  </div>

  <div class="mt-40 flex justify-center lg:mt-0 lg:justify-start">
    <HappyClients />
  </div>
</section>
