---
import GradientSpan from "@/components/common/gradient-span.astro";
import SectionHeader from "@/components/common/section-header.astro";
import { SECTIONS } from "@/constants/sections";
import Section from "@/components/common/section.astro";
import Chip from "../common/chip.astro";
import { TestimonialsCarousel } from "../carousel/testimonials-carousel";
---

<Section id={SECTIONS.TESTIMONIALS.id}>
  <Chip label="Testimonials" />
  <SectionHeader>
    <span slot="title">
      <GradientSpan>Client Stories</GradientSpan>
    </span>
  </SectionHeader>
  <TestimonialsCarousel client:load />
</Section>
