---
import GradientSpan from "@/components/common/gradient-span.astro";
import SectionHeader from "@/components/common/section-header.astro";
import chromoSvg from "@/assets/icons/chromo.svg";
import { SECTIONS } from "@/constants/sections";
import { Link } from "../common/link";
---

<section>
  <SectionHeader>
    <span slot="title">
      Have
      <GradientSpan color="red">
        <span>Questions?</span>
      </GradientSpan>
      We're Here.
    </span>
  </SectionHeader>

  <div class="flex justify-center">
    <Link href={SECTIONS.CONTACT.href}>Get In Touch</Link>
  </div>
</section>

<img src={chromoSvg.src} alt="Chromo Logo" class="w-full" loading="lazy" />
