---
import { RESULTS } from "@/constants/results";
import GradientSpan from "@/components/common/gradient-span.astro";
import SectionHeader from "@/components/common/section-header.astro";
import { SECTIONS } from "@/constants/sections";
import Section from "@/components/common/section.astro";
import ResultCard from "../cards/result-card.astro";
---

<Section id={SECTIONS.OUR_AGENCY.id}>
  <SectionHeader subtitle="From design to development all what you need.">
    <span slot="title">
      <GradientSpan>Custom IT Solutions for Real Business Growth</GradientSpan>
    </span>
  </SectionHeader>

  <section
    class="grid grow auto-rows-fr grid-cols-list-md gap-10 lg:grid-cols-list-lg"
  >
    {RESULTS.map((result) => <ResultCard result={result} />)}
  </section>
</Section>
