---
import { RESULTS } from "@/constants/results";
import GradientSpan from "@/components/common/gradient-span.astro";
import SectionHeader from "@/components/common/section-header.astro";
import { SECTIONS } from "@/constants/sections";
import Section from "@/components/common/section.astro";
import ResultCard from "../cards/result-card.astro";
---

<Section id={SECTIONS.OUR_SERVICES.id}>
  <SectionHeader subtitle="From design to development all what you need.">
    <span slot="title">
      Solutions that deliver <GradientSpan color="cyan">results.</GradientSpan>
    </span>
  </SectionHeader>

  <section
    class="grid-cols-list-md lg:grid-cols-list-lg grid grow auto-rows-fr gap-10"
  >
    {RESULTS.map((result) => <ResultCard result={result} />)}
  </section>
</Section>
