---
import TilePattern from "../backgrounds/tile-pattern.astro";
import BookingButton from "../buttons/booking-button.astro";
import SectionHeader from "../common/section-header.astro";
import Section from "../common/section.astro";
---

<div class="relative z-0 bg-background-dark">
  <TilePattern theme="dark" />
  <div class="-mb-40 py-28">
    <Section>
      <div class="relative flex flex-col gap-10 py-20">
        <SectionHeader>
          <span slot="title" class="flex flex-col text-white dark:text-white">
            <span>Don’t think twice </span>
            <span>let’s bring your vision to life!</span>
          </span>
          <span slot="subtitle-center" class="text-base dark:text-white">
            Connect with us today and let's make it happen!
          </span>
        </SectionHeader>
        <span class="self-center">
          <BookingButton variant="force_white"
            >Claim Your Free Call Now</BookingButton
          >
        </span>
      </div>
    </Section>
  </div>
</div>
