---
import GradientSpan from "@/components/common/gradient-span.astro";
import SectionHeader from "@/components/common/section-header.astro";
import { SECTIONS } from "@/constants/sections";
import Section from "@/components/common/section.astro";
import TestimonialCard from "@/components/cards/testimonial-card.astro";
import { TESTIMONIALS } from "@/constants/testimonials";
import Chip from "../common/chip.astro";
---

<Section id={SECTIONS.TESTIMONIALS.id}>
  <Chip label="Testimonials" />
  <SectionHeader>
    <span slot="title">
      <GradientSpan>Client Stories</GradientSpan>
    </span>
  </SectionHeader>

  <ul class="grid auto-rows-fr grid-cols-list-lg gap-10">
    {
      TESTIMONIALS.map((testimonial) => (
        <li class="list-none">
          <TestimonialCard testimonal={testimonial} />
        </li>
      ))
    }
  </ul>
</Section>
