<Fragment>
  <div
    class="absolute inset-0 size-full bg-radial-light sm:bg-radial-light-full dark:bg-radial-dark dark:sm:bg-radial-dark-full"
  >
  </div>
  <div
    class="absolute inset-0 size-full sm:bg-linear-light dark:sm:bg-linear-dark"
  >
  </div>
</Fragment>
