---
import { cn } from "@/lib/utils";
import tw from "@/utils/tw";
import { cva } from "class-variance-authority";

const tilePatternBgVariants = cva(
  tw`absolute inset-0 -z-10 size-full bg-tile-pattern bg-repeat`,
  {
    variants: {
      theme: {
        auto: tw`bg-brand-gray bg-opacity-3 bg-tile-pattern bg-repeat dark:contrast-[88%] dark:invert`,
        light: tw`contrast-[88%]`,
        dark: tw`contrast-[88%] invert dark:contrast-[88%] dark:invert`,
      },
    },
    defaultVariants: {
      theme: "auto",
    },
  },
);

export interface Props {
  theme?: "auto" | "light" | "dark";
  class?: string;
}

const { theme, class: className } = Astro.props;
---

<div
  class={cn(
    tilePatternBgVariants({
      theme,
      className,
    }),
  )}
>
  <slot />
</div>
