---
import Layout from "../layouts/layout.astro";
import Hero from "@/components/sections/hero.astro";
import SolutionsSection from "@/components/sections/solutions-section.astro";
import TestimonialsSection from "@/components/sections/testimonials-section.astro";
import TechnologiesSection from "@/components/sections/technologies-section.astro";
import ContactSection from "@/components/sections/contact-section.astro";
import ResultsSection from "@/components/sections/results-section.astro";
import ShowcaseSection from "@/components/sections/showcase-section.astro";
import FaqSection from "@/components/sections/faq-section.astro";
---

<Layout
  title="Alamo Algorithmics"
  description="Need innovative design and reliable development? We're here to bring your ideas to life."
>
  <div class="container mx-auto mb-32 px-7 sm:px-0">
    <Hero />
  </div>
  <div class="my-40 space-y-28 md:space-y-52">
    <ResultsSection />
    <TechnologiesSection />
    <ShowcaseSection />
    <SolutionsSection />
    <TestimonialsSection />
    <FaqSection />
    <ContactSection />
  </div>
</Layout>
