---
import Layout from "../layouts/layout.astro";
import Hero from "@/components/sections/hero.astro";
import SolutionsSection from "@/components/sections/solutions-section.astro";
import ShowcaseSection from "@/components/sections/showcase-section.astro";
import QuestionsSection from "@/components/sections/questions-section.astro";
import TestimonialsSection from "@/components/sections/testimonials-section.astro";
import TechnologiesSection from "@/components/sections/technologies-section.astro";
import OurTeamSection from "@/components/sections/our-team-section.astro";
---

<Layout title="Chromo Design">
  <div class="mb-32">
    <Hero />
  </div>
  <div class="space-y-52 my-20">
    <SolutionsSection />
    <ShowcaseSection />
    <QuestionsSection />
    <TestimonialsSection />
    <TechnologiesSection />
    <OurTeamSection />
  </div>
</Layout>
