<!-- <img src={chromoLogo.src} alt="Chromo Logo" class="h-7" /> -->
<div
  class="relative size-8 rounded-md font-extrabold leading-none text-black shadow-md dark:bg-brand-gray/20 dark:text-white"
>
  <span class="absolute inset-0 m-auto size-min">A</span>
</div>
