---
const { label, height = 32 } = Astro.props;
---

<div
  class="dark:bg-brand-black flex items-center rounded-full bg-white px-3 py-1 text-sm font-medium leading-5 text-black dark:font-medium dark:text-white"
  style={`height: ${height}px`}
>
  {label}
</div>
