---
interface Props {
  color: "red" | "blue" | "green" | "yellow" | "orange" | "purple" | "cyan";
}

const { color } = Astro.props;

const GRADIENT_COLORS: Record<Props["color"], string> = {
  red: "from-brand-light-red",
  blue: "from-brand-light-blue",
  green: "from-brand-light-green",
  yellow: "from-brand-light-yellow",
  orange: "from-brand-light-orange",
  purple: "from-brand-light-purple",
  cyan: "from-brand-light-cyan",
};
---

<span
  class={"bg-gradient-to-b from-50% to-brand-white [-webkit-background-clip:text] [-webkit-text-fill-color:transparent]" +
    " " +
    GRADIENT_COLORS[color]}
>
  <slot />
</span>
