---
import gradeSvg from "@material-symbols/svg-400/rounded/grade-fill.svg?raw";
import clientAvatarImg from "@/assets/images/client-avatar.png";
import Icon from "./icon.astro";
---

<section class="flex w-max items-center gap-2.5 text-black dark:text-white">
  <img
    src={clientAvatarImg.src}
    alt="avatar"
    class="size-7 shrink-0 rounded-full object-cover ring-1 ring-brand-gray/25"
  />

  <p class="flex items-center gap-1">
    <span>4.7</span>
    <Icon icon={gradeSvg} class="size-5 fill-brand-yellow" />
  </p>
  <p>15+ Happy Clients</p>
</section>
