---
import { GrayText } from "./gray-text";

interface Props {
  subtitle?: string;
}

const { subtitle } = Astro.props;
---

<div class="space-y-5 text-center">
  <h2 class="mx-auto px-2.5 text-brand-gray lg:w-3/4 lg:px-0">
    <slot name="title">
      <span>Empty Title</span>
    </slot>
  </h2>

  <div class="flex items-center justify-between gap-5">
    <slot name="subtitle-left">
      <div class="size-px"></div>
    </slot>

    {subtitle && <GrayText className="text-center">{subtitle}</GrayText>}

    <slot name="subtitle-center" />

    <slot name="subtitle-right">
      <div class="size-px"></div>
    </slot>
  </div>

  <slot />
</div>
