---
import { SHOWCASE_PROJECTS } from "@/constants/showcase-projects";

const array = Array.from({ length: 2 }).fill(0);
---

<section class="relative overflow-hidden whitespace-nowrap *:px-7">
  {
    array.map(() => (
      <ul class="inline-flex animate-carousel gap-14">
        {SHOWCASE_PROJECTS.map(({ image }) => (
          <li class="h-full">
            <img
              src={image.src}
              alt={image.alt}
              title={image.alt}
              loading="lazy"
              class="aspect-[118_/_75] w-36 object-scale-down invert sm:w-52 dark:invert-0"
            />
          </li>
        ))}
      </ul>
    ))
  }
</section>

<style>
  section::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 20%;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      theme(colors.background.white)
    );
    z-index: 1;
  }

  section::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 20%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      theme(colors.background.white)
    );
    z-index: 1;
  }

  @media (prefers-color-scheme: dark) {
    section::before {
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        theme(colors.background.dark)
      );
    }

    section::after {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        theme(colors.background.dark)
      );
    }
  }
</style>
