---
import "@/styles/global.css";
import "@fontsource/plus-jakarta-sans/400.css";
import "@fontsource/plus-jakarta-sans/600.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/jetbrains-mono";
import { Header } from "@/components/sections/header";
import { SECTIONS } from "@/constants/sections";
import Footer from "@/components/sections/footer.astro";
import MetaIcons from "@/components/meta/meta-icons.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Astro description" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />

    <MetaIcons />
  </head>
  <body
    class="w-full bg-background-white text-brand-white dark:bg-background-dark"
    id={SECTIONS.HOME.id}
  >
    <Header client:load />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
