---
import Header from "@/components/sections/header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Astro description" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-brand-background text-brand-white">
    <Header />
    <main class="container mx-auto px-7">
      <slot />
    </main>
  </body>
</html>
