---
import "@/styles/global.css";
import "@fontsource/plus-jakarta-sans/400.css";
import "@fontsource/plus-jakarta-sans/600.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/jetbrains-mono";
import Header from "@/components/sections/header.astro";
import { SECTIONS } from "@/constants/sections";
import Footer from "@/components/sections/footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Astro description" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body
    class="w-full bg-background-white text-brand-white dark:bg-background-dark"
    id={SECTIONS.HOME.id}
  >
    <Header />

    <main class="px-7 sm:px-0">
      <slot />
    </main>

    <Footer />
  </body>
</html>
